    <img src="ikeband00.jpg" />
    <div>
        <p2>
            Playing music and messing around with my band, 'Ike Houston and the zeros', is my favorite hobby!
            It's hilarious seeing the different reactions when I tell people about our gigs - from the "Aw, that's cute!" to
            the "Yo, are you guys tryna be famous?" But honestly, what I love most is just chilling with the guys, jamming,
            and having fun. Our shows are all about making memories and having a good time.
        </p2>
    </div>
    <img src="bonsai.jpeg" />
    <div>
        <p2>
            One of the craziest memories with the band has to be this one gig that we landed out of the blue -
            it was for the grand opening of this bonsai store and restaurant mashup. Super random. And we set everything up in
            alley right next to the store. But we turned it into a blast! Cracking jokes and goofing around and having fun on stage.
            At one point they even had us raffle off some free bonsai trees!
        </p2>
