    <fieldset>
        <legend>Price Calculator:</legend>
        <label for="hours">Number of hours:</label>
        <br />
        <input type="number" id="hours" name="hours" autofocus />
        <br />
        <br />
        <label for="rate">Hourly rate: </label>
        <br />
        <p>$</p>
        <input type="number" id="rate" name="hours" value="50" readonly />
        <br />
        <br />
        <button type="submit" id="btnSubmit">Calculate</button>
    </fieldset>

    <fieldset>
        <legend>Estimation:</legend>
        <div id="output"></div>
    </fieldset>
