/* Resetting default margin and padding */
body, h1, p, img {
    margin: 0;
    padding: 0;
}

/* Setting styles for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

/* Styles for the heading */
h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Styles for paragraphs */
p1 {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}
div {
    width: 50%; 
    margin: 0 auto; 
}

footer {
    background-color: #333; /* Background color for the footer */
    color: #fff; /* Text color */
    text-align: center; /* Center align text */
    padding: 20px 0; /* Add padding to the top and bottom */
}

footer p {
    margin: 0; /* Remove default margin for the paragraph */
}


p2 {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

/* Styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* Styles for images */
img {
    display: block;
    max-width: 30%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

    input[type="number"]:read-only {
        background-color: #f0f0f0;
    }

p {
    display: inline;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

#output {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
